body {
    min-height: 100vh;
    background: #f0f2f5;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    color: white;
    text-align: left;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #111;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    max-width: auto;
    padding: 20px;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

h2 {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.latest-workout {
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; 
}

.latest-workout ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.latest-workout ul li {
    margin-bottom: 5px;
}

.latest-workout ul li a {
    color: rgb(70, 144, 67);
    text-decoration: none;
}

.latest-workout ul li a:hover {
    text-decoration: underline;
}

#logMessage {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.profile-section {
    margin: 20px;
    padding-left: 30px;
    background: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; 
    padding-bottom: 20px;
}

.profile-section h2, .profile-section h4, .profile-section p {
    margin: 10px 0;
}

.profile-section h2 {
    font-size: 1.2em;
    color: #555;
}

.profile-section h4 {
    font-size: 1em;
    color: #434343;
    display: inline-block;
    padding-right: 20px;
}

.profile-section p {
    font-size: 1em;
    color: #333;
    display: inline-block;
}

.profile-section ul {
    padding-left: 20px;
    margin: 10px 0 0 0;
}

.profile-section ul li {
    margin-bottom: 5px;
}

.profile-section ul li a {
    color: #007bff;
    text-decoration: none;
}

.profile-section ul li a:hover {
    text-decoration: underline;
}

#homeButtons button {
    padding: 10px 20px;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px;
    width: 450px;
    height: 70px;
}

#homeButtons button:hover{
    background: #218838;
}

.workout_display {
    margin : 20px;
    padding: 20px;
    width: 400px;
    background: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 2px 4px hsla(135, 56%, 20%, 0.729);
    border: 1px solid #ccc; 
    float: left;
    
}

button:hover {
    background: #218838;
}

#edit-profile-section {
    display: none;
    margin-top: 20px;
}

#edit-profile-section form {
    display: flex;
    flex-direction: column;
}

#edit-profile-section label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#edit-profile-section input[type="text"],
#edit-profile-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#edit-profile-section button {
    width: 100%;
    padding: 10px;
    background: #ff6b6b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0%;
}

#edit-profile-section button:hover {
    background: #e55a5a;
}

.meal-details {
    display: none;
    margin: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.meal-details h4 {
    margin: 10px 0;
    font-size: 1em;
    color: #777;
}

#edit-form {
    display: none;
    margin-top: 10px;
}

#edit-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#edit-form button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

#edit-form button:hover {
    background: #218838;
}

.catalogue-item {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; 

}

.catalogue-item p {
    font-size: 1.2em;
    color: #555;
}

.catalogue-item button {
    padding: 10px 20px;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.catalogue-item button:hover {
    background: #218838;
}

.catalogue-item ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.catalogue-item ul li {
    margin-bottom: 5px;
}

.catalogue-item ul li a {
    color: #007bff;
    text-decoration: none;
}

.catalogue-item ul li a:hover {
    text-decoration: underline;
}

.nav {
    list-style-type: none;
    padding: 14px 16px;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.nav li {
    display: inline;
    width: 200px;
}

.nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;

}

.nav li a:hover {
    background-color: gray;
}

.homeButtons{
    float: left;
    display: block;
}

#addButton{
    display: block;
}

/* this is code for the calendar  be careful when editting */
.calendar {
    float: left;
    width: auto; 
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
    font-size: 1.2em;
    color: #555;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #f0f2f5;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background 0.3s, box-shadow 0.3s;
}

.header button:hover {
    background: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    font-weight: 600;
    color: #777;
}

.day {    
    text-align: center;
    padding: 5px;
    color: gray;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

.date:hover, .selected {
    background: #28a745;
    color: #fff;
    transform: scale(1.1);
}

.date.inactive {
    color: lightgray;
}

.date.inactive:hover {
    color: white;
    background: #ccc;
}
/* end of the calander css, try not to mess with the alignment of the elements plz :) */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

form input[type="submit"]:hover {
    background: #28a745;
}

.help-text {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.errorlist {
    color: red;
    margin-bottom: 10px;
}

.meal-section {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.meal-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.meal-section .meal-details {
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.meal-section .meal-details h4 {
    margin: 10px 0;
    font-size: 1em;
    color: #777;
}
#meal-name{
    color: #000000;
    font-weight: bolder;
}
.meal-label{
    color: #434343;
    font-weight: bold;
} 

.meal-section .meal-details #edit-form {
    display: none;
    margin-top: 10px;
}

.meal-section .meal-details #edit-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.meal-section .meal-details #edit-form button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.meal-section .meal-details #edit-form button:hover {
    background: #218838;
}

.workout_exercise li{
    display: inline;
}


button{
    
    padding: 10px;
    margin: 10px;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #218838;
}

#homepage_display{
    margin-left: 15%;
}

#meal-select{
    width: 300px;
}

.meal-details{
    margin: 20px;
}

#edit{
    margin: 20px;
}

#sign_up{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.workout-info{
    display: inline-block;
    margin: 10px;
}

#favourite{
    float: right; 
    margin-right: 0px;
}

#favouriteForm{
    box-shadow:none; 
    border-radius: 0px; 
    margin: 0%; 
    float: right; 
    padding: 0;
}

iframe{
    float: right; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}