body {
    min-height: 100vh;
    display: flex;
    background: whitesmoke;
}


.nav{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.calendar {
    float: left;
    width: auto; 
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}


.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day{    
    text-align: center;
    padding: 5px;
    color: gray;
    font-weight: 500;
}


.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    
}


.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}


.date:hover , .selected{
    background:red;
    color: black;
}


.date.inactive {
    color: lightgray;
}

.date.inactive:hover {
    color: white;
}

