<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <meta charset="UTF-8" />
    <title>
        {% block title_block %}
            Fitness Tracker
        {% endblock %}

        
    </title>
</head>
    <body>
        <div  >
            <ul class = "nav">
                <li><a href="{% url 'fitnessTracker:profile' %}">My Profile</a></li>
                <li><a href="{% url 'fitnessTracker:tracker' %}">Tracker</a></li>
                <li><a href="{% url 'fitnessTracker:homepage' %}">Home</a></li>
                <li><a href="{% url 'fitnessTracker:catalogue' %}">Catalogue</a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'fitnessTracker:logout' %}">Logout</a></li>
            
                {% else %}

                <li><a href="{% url 'fitnessTracker:login' %}">Login</a></li>
                
                {% endif %}

                
                
            </ul>
        </div>
       
        <hr/> 
        <div>
        {% block body_block %}
        
        {% endblock %}
        </div>
        
        
        
    </body>
</html>