<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="UTF-8" />
        <title>
            {% block title_block %}
                Fitness Tracker
            {% endblock %}
        </title>
</head>
    <body>
        <div >
            <ul class = "nav">
                <li><a href="{% url 'fitnessTracker:profile' %}">My Profile</a></li>
                <li><a href="{% url 'fitnessTracker:tracker' %}">Tracker</a></li>
                <li><a href="{% url 'fitnessTracker:homepage' %}">Home</a></li>
                <li><a href="{% url 'fitnessTracker:catalogue' %}">Catalogue</a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}?next={% url 'fitnessTracker:homepage' %}">Logout</a></li>
                <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
            
                {% else %}
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                
                {% endif %}                
            </ul>
        </div>
        
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
    </body>
</html>