{% extends 'fitnessTracker/base.html' %}
{% load static %}

{% block title_block %}
    Catalogue
{% endblock %}

{% block head %}
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Your custom script -->
    <script src="{% static 'js/catalogueScript.js' %}"></script>
{% endblock %}

{% block body_block %}
    <h1>Catalogue</h1>

    <div id="catalogue-accordion">
        {% for category, workout_list in workouts.items %}
            {% if category == "Cardio" %}
            <h3>
                <img src="{% static 'images/cardio.jpg' %}" alt="Cardio" class="accordion-icon">
                {{ category }}

            </h3>
            {% elif category  == "Strength" %}
            <h3>
                <img src="{% static 'images/strength.webp' %}" alt="Strength" class="accordion-icon">
                {{ category }}
            </h3>
            {% elif category == "Balance" %}
            <h3>
                <img src="{% static 'images/balance.jpg' %}" alt="Balance" class="accordion-icon">
                {{ category }}
            </h3>
            {% elif category == "Flexibility" %}
            <h3>
                <img src="{% static 'images/flexibility.jpg' %}" alt="Flexibility" class="accordion-icon">
                {{ category }}
            </h3>
            {% endif %}


            <div>
                <ul>
                    {% for workout in workout_list %}
                        <li>
                            <a href="{% url 'fitnessTracker:show_workout' workout_name_slug=workout.slug %}">
                                {{ workout.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}