<!DOCTYPE html>

    <html>
        {% extends 'fitnessTracker/base.html' %}

        {% load staticfiles %}
        
        <title>
        {% block title_block %}
            Catalogue
        {% endblock %}
         </title>

        {% block body_block %}
            <h1>Workouts</h1>

            <div>
                current workouts
                <ul>
                    {% for workout in workouts %}
                    <li><a href="{% url 'fitnessTracker:show_workout' workout_name_slug=workout.slug %}">{{ workout.name }}</a></li>
                    <br>
                {% endfor %}
                </ul>
                
                </div>
        {% endblock %}

    </html>