
{% extends 'fitnessTracker/base.html' %}
{% load static %}

{% block title_block %}
    Catalogue
{% endblock %}

{% block body_block %}
    <div class="seach">
        <form id="search-form" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="search-input" placeholder="search for workouts i.e. get cardio">
        </form>
        <div id="results-box" class="results-card not-visible">
            
        </div>
    </div>

    <div class="container">
        <h1>Catalogue</h1>
        {% for key, value in workouts.items %}
            <div class="catalogue-item" id="{{ key }}">
                <p>{{ key }}</p>
                <button id="browse-{{ key }}" type="button">Browse</button>
                <div id="{{ key }}-info" style="display: none;">
                    <ul>
                        {% for workout in value %}
                            <li><a href="{% url 'fitnessTracker:show_workout' workout_name_slug=workout.slug %}">{{ workout.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/catalogueScript.js' %}"></script>
    <script src="{% static 'js/searchScript.js' %}"></script>
    <script>
        const searchUrl = "{% url 'fitnessTracker:search' %}";
        const csrf_token = "{{ csrf_token }}"
    </script>
{% endblock %}
