<!DOCTYPE html>

{% extends 'fitnessTracker/base.html' %}
{% load staticfiles %}


{% block head %}
    
    {% block title_block %} Homepage {% endblock %}
    
{% endblock %}

    
{% block body_block %}
<div id = "homepage_display">
    <div class="calendar">
        <div class="header">
            <button id="prevButton">
                <i> < </i>
            </button>
            <div class="monthYear" id="monthYear"></div>
            <button id="nextButton">
                <i> > </i>
            </button>
        </div>
        <div class="days" >
            <div class="day">Mon</div>
            <div class="day">Tues</div>
            <div class="day">Wed</div>
            <div class="day">Thur</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
            <div class="day">Sun</div>
        </div>
        <div class="dates" id="dates"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <div id="homeButtons">
        <button class="addButton" id="addMeal" type="button"> Add Meal </button>
        <br>
        <button class="addButton" id="addWorkout" type="button"> Add Workout </button>
        <br>
        <button class="addButton" id="addLog" type="button"> Add Log </button>
        <p id="selected"></p>
    </div>

    {% if user.is_authenticated %}
        <div >
            {% for log in logs %}
            <div  id = '{{log}}' style="display: none;"  >
                <ul >
                    <div class ="workout_display">
                    <h3>{{log}}</h3> 
                        <h4>Meals:</h4>
                        {% for meal in log.meals.all %}
                            <li>{{ meal }}</li>
                        {% endfor %}
                        <h4>Exercises:</h4>
                        {% for workout in log.workouts.all %}
                            <li>{{ workout }}</li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div> 
    
</div>
{% endblock %}
