<!DOCTYPE html>

    <html>
        {% extends 'fitnessTracker/base.html' %}

        {% load staticfiles %}
        
        <title>
        {% block title_block %}
            tracker
        {% endblock %}
         </title>

        {% block body_block %}
            <h1>Tracker</h1>

            <p id = "xValues" style="display: none;" >{{xValue}}</p>
            <p id="yValues" style="display: none;" >{{yValue}}</p>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <script src="{% static 'js/trackerScript.js' %}"></script>

            <h2>Calorie Tracker</h2>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

            {% if user.is_authenticated %}
                <p id="logMessage" style="display: none;"> add logs to view tracker</p>

            {% endif %}
        {% endblock %}
    </html>