<!DOCTYPE html>

    <html>
        {% extends 'fitnessTracker/base.html' %}

        {% load static %}
        
        <title>
        {% block title_block %}
            workouts
        {% endblock %}
         </title>

        {% block body_block %}
        <div class = "container">
            <h1>{{workout.name}}</h1>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="{% static 'js/favouriteScript.js' %}" ></script>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'fitnessTracker:add_to_favourites' workout_name_slug=workout.slug  %}" id="favouriteForm">
                {% csrf_token %}
                <button type="submit" id="favourite">
                    {% if favourites %}
                        Remove from Favourites
                    {% else %}
                        Add to Favourites
                    {% endif %}
                </button>
            {% endif %}
            </form>
            <br>
            <h2>{{workout.name}}</h2>

            {% if workout.video_url %}
                {% with workout.get_embed_url as embed_url %}
                    {% if embed_url %}
                        <iframe width="500" height="300" src="{{ embed_url }}" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                        <p>Video format not supported for embedding.</p>
                    {% endif %}
                {% endwith %}
            {% else %}
                <p>No video available for this workout.</p>
            {% endif %}
            <br>
            {% if exercises %}
            
                <h4 class="workout-info">Duration:</h4>
                <p class="workout-info">{{workout.duration}} mins</p> 
                <h4 class="workout-info">Exercises:</h4>
                <p class="workout-info">{{total}} </p> 
                <table border="1">
                    <thead>
                        <tr>
                            <th>Exercise Name</th>
                            <th>Sets</th>
                            <th>Reps</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exercise in exercises %}
                        <tr>
                            <td>{{ exercise.name }}</td>
                            <td>{{ exercise.sets }}</td>
                            <td>{{ exercise.reps }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No Exercises yet.</p>
            {% endif %}
            <a href="{% url 'fitnessTracker:add_exercise' workout_name_slug=workout.slug %}">Add Exercise</a> 
            <br />

        </div>
        {% endblock %}
    </html>