<!DOCTYPE html>

    <html>
        {% extends 'fitnessTracker/base.html' %}

        {% load staticfiles %}
        
        <title>
        {% block title_block %}
            workouts
        {% endblock %}
         </title>

        {% block body_block %}
            <h1>{{workout.name}}</h1>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="{% static 'js/favouriteScript.js' %}"></script>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'fitnessTracker:add_to_favourites' workout_name_slug=workout.slug  %}">
                {% csrf_token %}
                <button type="submit" id="favourite">
                    {% if workout in user.favourites.all %}
                        Remove from Favourites
                    {% else %}
                        Add to Favourites
                    {% endif %}
                </button>
            {% endif %}
            {% if exercises %}
            <ul id="workout_exercise">
                {% for exercise in exercises %}
                <li>
                    <h3>{{ exercise.name }}</h3>
                    <h4>sets:</h4>
                    <p>{{ exercise.sets }}</p>
                    <br>
                    <h4>Reps:</h4>
                    <p>{{ exercise.reps }}</p>
                    <br>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                No Exercises yet.
            {% endif %}
            <a href="{% url 'fitnessTracker:add_exercise' workout_name_slug=workout.slug %}">Add Exercise</a> 
            <br />


        {% endblock %}
    </html>s